# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', delimiter= '\t')

### Step 4. How many products cost more than $10.00?

In [3]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
chipo['unit_price'] = chipo.item_price.apply(lambda x: float(x[1:])) / chipo.quantity

In [5]:
chipo.query('unit_price > 10').item_name.nunique()

# here I think the answer should be wrong, since the unit price could be calculated.

25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [13]:
chipo[['item_name', 'unit_price']].drop_duplicates().sort_values(by = 'unit_price', ascending = False).head(5)

                  item_name  unit_price
281        Steak Salad Bowl       11.89
1229    Barbacoa Salad Bowl       11.89
1132    Carnitas Salad Bowl       11.89
93         Carnitas Burrito       11.75
1008  Carnitas Crispy Tacos       11.75

### Step 6. Sort by the name of the item

In [15]:
chipo.sort_values(by = 'item_name').head()

,order_id,quantity,item_name,choice_description,item_price,unit_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [16]:
chipo.sort_values(by = 'unit_price', ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price,unit_price
2442,970,1,Barbacoa Salad Bowl,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.89,11.89

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [22]:
chipo.query('item_name == "Veggie Salad Bowl"').shape[0]

18

### Step 9. How many times people orderd more than one Canned Soda?

In [24]:
chipo.query('item_name == "Canned Soda" & quantity > 1').shape[0]
# chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]

20