# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [22]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [16]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [17]:
cars1 = cars1.loc[:, "mpg":"car"]

### Step 5. What is the number of observations in each dataset?

In [18]:
cars1.shape

(198, 9)

In [19]:
cars2.shape

(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [20]:
cars = cars1.append(cars2)

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [23]:
owners = pd.Series(np.random.randint(15000, high=73001, size=398, dtype='l'))

### Step 8. Add the column owners to cars

In [24]:
cars['owners'] = owners

In [25]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,59890
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,36555
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,35976
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,50456
4,17.0,8,302,140,3449,10.5,70,1,ford torino,62701